.m-auto{
    margin: auto;
}

.max-width-1{
    max-width: 80vw;
}

.color{
    background-color: white;
}

.color-text{
    color: rgb(60,155,155);
}

.nav-pills-color :hover{
    background-color: rgb(60,155,155);
    color: rgb(237,248,248);
    border-radius: 5px;
}

.no-pills :hover{
    background-color: white;
}


