<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<!-- 
  This is single Page Application
 -->

<router-outlet>
</router-outlet>


<!-- 
  Footer for every page having social media links
 -->


<div>
  <footer class="bg-dark text-center">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4 nav-pills-color">

        <!-- Facebook -->
        <a class="btn btn-light btn-floating m-1 color-text" href="www.facebook.com" role="button"><i
            class="fa fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a class="btn btn-light btn-floating m-1 color-text" href="www.twitter.com" role="button"><i
            class="fa fa-twitter"></i></a>

        <!-- Instagram -->
        <a class="btn btn-light btn-floating m-1 color-text" href="www.instagram.com" role="button"><i
            class="fa fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-light btn-floating m-1 color-text" href="www.linkedin.com" role="button"><i
            class="fa fa-linkedin"></i></a>

      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 color-text" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="color-text fst-italic text-decoration-none" href="">Eventful</a>
      <br>
    </div>
    <!-- Copyright -->
  </footer>

</div>
<!-- End of .container -->