.m-auto{
    margin: auto;
}

.max-width-1{
    max-width: 80vw;
}

ngb-carousel .wrapper {
    position: relative;
    height: 0;
    padding-top: 55%; /* Keep ratio for 900x500 images */
    height: 30%;
    width: 100%;
  }
  ngb-carousel .wrapper>img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .carousel-inner>.carousel-item>img {
    width: 80%;
    height: 600px;
  }

  