/* 
BASIC STYLING WITH AN IMAGE
*/

.image {
    background-image: url(https://lh5.ggpht.com/_9F9_RUESS2E/SpV5Yi8Vv5I/AAAAAAAAA4E/W9-J8eMLokM/s800/50-Cool-and-Creative-404-Error-Pages-25.jpg);
    height: 300px;
    background-repeat: no-repeat;
    margin-left: 30%;
    margin-top: 10px;
}

.btn-margin {
    margin-left: 45%;
}